/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  font-size: 1.6rem;
  background-color: #999;
  padding: 10px;
}

.container {
  background-color: #fff;
}

.Header {
  background-color: white;
  padding: 1rem;
}
.Header h1 {
  font-size: 4rem;
  font-family: serif;
}

.option-menu {
  background-color: #c9afaf;
  padding: 1rem;
}
.option-menu a {
  margin-right: 2rem;
  color: blue;
}

.main-body {
  display: flex;
}

.body-left {
  float: left;
  background-color: #b1cbbb;
  width: 70%;
  padding: 2rem;
}

.body-right {
  float: left;
  background-color: #aeaec7;
  width: 30%;
  padding: 2rem;
}
.main-body::after {
  content: "";
  display: block;
  clear: both;
}
.main-body h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.main-body p {
  margin-bottom: 1.5rem;
  line-height: 1.4;
}
.main-body ul {
  padding-left: 2rem;
}
.main-body li {
  margin-bottom: 0.5rem;
}

.Footer {
  background-color: yellow;
  padding: 1.5rem;
}
